@keyframes fadeAndTranslateIn {
    0% {
        opacity: 0%;
        transform: translateY(-100%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.alert {
    animation: 0.5s ease 0s 1 fadeAndTranslateIn;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5vh;
    width: 30vw;
    height: 10vh;
    background-color: #8C2F39;
    align-self: center;
    z-index: 1;
    border-radius: 15px;
    color: white;
}

.alert h1 {
    font-size: 15px;
    margin: 0;
}