@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Source+Sans+Pro:wght@600&display=swap');

.nav-bar {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    background-color: #001d3d;
}

#logo {
    align-self: center;
}

#logo img {
    width: 90px;
}

.links {
    display: flex;
    align-self: center;
    padding-right: 20px;
}

.link {
    padding: 12px;
}

.link img {
    width: 38px;
    filter: invert(100%);
}